.logo{
    margin-top: 30%;
    margin-bottom: 4%;
    width: 20%;
    height: auto;
}
ion-list{
    margin-right: 5%;
    margin-left: 5%;
    ion-item{
        margin-right: 10%;
        margin-left: 10%;
    }
}
.choose{
    padding-bottom: 10px;
}